*{
    margin: 0;
    padding: 0;
}

:root{
    --navbar-height:59px;
}
#navbar{
    display: flex;
    align-items: center;position: relative;
}
#logo{
 margin: 10px 34px;
}
#logo img{
     height: 45px;
     margin: 3px 6px;
}
#navbar ul{
    display: flex;
}
#navbar::before{
    content: "";
    background-color: black;position: absolute;
    z-index: -1;height: 100%;width: 100%;opacity: .4;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    padding: 25px;display: block;border-radius: 20px;text-decoration: none;
    color: white;
} 
#navbar ul li a:hover{
   background-color: white;
   color: black;
} 