.head {
    background: url('images/image\ 27.png') no-repeat;height: 98vh;position: relative;
}
#grid2,#grid1{
    background-color: rgba(240, 255, 255, 0.007);
}

.magic{

font-family: 'Saira SemiCondensed';
font-style: normal;
font-weight: 700;
font-size: 5rem;
color: rgb(0, 0, 0);
border: 2px solid #b2f3b000;
text-shadow: 0px 0px 7px #1EB808, 0px 0px 7px #1EB808, 0px 0px 7px #1EB808, 0px 0px 7px #1EB808, 0px 0px 7px #1EB808, 0px 0px 7px #1EB808;
}
.blockchain{
    font-family: 'Saira SemiCondensed';
    font-weight: 250;
    font-size: 2rem;top: 44%;
    color: #FFF3F3;
}
.lorem{
      font-family: 'Saira';
        font-style: normal;
        font-weight: 10;
        font-size: 1.2rem;color:white;
        top: 49%;
}

#btn1{
    background: #1EB808;position: relative;width:20%;
            border-radius: 4px;color: white; font-family: 'Saira SemiCondensed';
            font-style: normal;padding:10px;margin: 10px; margin-left: 20%;
}
#btn2{
    border: 1px solid #8ae987;position: relative;
        box-shadow: 0px 0px 5px 1px #1EB808;width:20%;
        border-radius: 5px;font-family: 'Saira SemiCondensed';
        font-style: normal;color: white;padding:10px;margin: 10px;
}
    .shoes{
        position:relative;background: url('images/Group\ 501.png')no-repeat;
        
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
        padding: 20px;
      }
  
      .grid-item {
        background-color: #242121;
        text-align: center;
        padding: 20px;color: white;
        font-size: 1rem;border-radius: 20px 20px 0px 0px;
      }
  
      @media screen and (max-width: 767px) {
        .grid-container {
          grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        }
      }
      .fullimg{
        width: 100%;padding:20px;
      }
      .midd{
        background-image: url('images/image\ 31.png');
        
      }
.middle{
    background-color: rgb(7, 65, 88);position: relative;z-index: -20px;
}

.card{
    color: white;text-align: center;
    border-radius: 20px 20px 0px 0px;margin: 10%;
    background-image: url('images/rectange381.png');background-position: center;
}
.card-img-top{
    height: 30%;
    width: 30%; align-items: center;margin-left: 35%;
}
.text{
   margin-left: 24%;margin-right: 23%;margin-top: 8%;padding-bottom: 8%;
}
.text1{
font-family: 'Saira SemiCondensed';
font-weight: 700;
font-size: 3rem;
}
@media screen and (max-width: 767px) {
    .text{
        margin-left: 20%;
        margin-right: 5%;
    }
    .text1 {
      font-size:15px;font-weight: 900;
    }
    .text2{
        padding-top: 10px;
        font-size: 7px;
    }
  }
.text2{
    align-items: center;
    font-size: 15px;
}
.heading{
    font-style: normal;
font-weight: 900;
font-size: 48px;border: 2px solid #b2f3b000;
text-shadow: 0px 0px 7px #1EB808, 0px 0px 7px #1EB808, 0px 0px 7px #1EB808, 0px 0px 7px #1EB808, 0px 0px 7px #1EB808, 0px 0px 7px #1EB808;
}
.content{
    width: 80%;margin-top: 10%;margin-left: 5%;
    font-family: 'Saira SemiCondensed';height: 20vh;
}
.group{
    margin-top: 5px;width: 60%;
}
.img1{
 width: 50%;margin-left: 15%;margin-top: 10%;
}
.img2{
width: 50%;margin-top: 10%;
}
.img3{
width: 50%;margin-top: 10%;
}
@media screen and (max-width: 767px) {
    .content{
        margin-top: 5%;
        
    }
    .heading{
        font-size: 20px;font-weight: 500;
    }
    .para{
        font-size: 11px;
    }
    .img1{
        width: 20%;
       }
       .img2{
       width: 20%;
       }
       .img3{
       width: 20%;
       }
}
.roadmap{
    margin-left: 45%;padding-top: 5%;margin-bottom: 5%;font-weight: 700;font-size: 50px;
}
.down{
    background-color:rgb(1, 108, 128);position: relative;
}
.pic{
    position:relative;margin-left: 20%;
    background-image: url('images/Vector\ 48.png');background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
    .roadmap{
        margin-left: 35%;
    }
.pic{background-size: 350px;margin-left: 8px;
    margin: 5px;
   height: 150vh;
}
.ellipse1{
    margin-top: -20px;
}
    .ellipse2{
        margin-left: 20%;margin-top: -20px;
    }
     .pic2{
        margin-top: -5px;
     }
    .pic3{
        margin-top: -20px;
    }
     
    .pic4{
        margin-left: 30%;margin-top: 10px;
    }  
}
.ellipse1{
    margin-left: 18%;
}
    .ellipse2{
        margin-left: 35%;
    }
     .ellipse3{
        margin-top: 25%;margin-left: 18%;
    }
    .ellipse4{
        margin-left: 38%;margin-top: 25%;
    }
     .ellipse5{
        margin-left: 18%;margin-top: 26%;
    }
    .ellipse6{
        margin-left: 38%;margin-top: 26%;
    }
    .ellipse7{
        margin-left: 40%;margin-top: 25%;
    }  
.part{
    margin-left: 30%;
    padding-top: 10%;
}
.btn1,.btn2,.btn3,.btn4{
    border: 1px solid #40f83a;position: relative;
        box-shadow: 0px 0px 5px 1px #1EB808;width:100%;height: 90%;
        border-radius: 5px;font-family: 'Saira SemiCondensed';
        font-style: normal;padding:10px;margin: 10px;background-color: #0f0e14;
}